<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"><channel><title>/var/ - spring</title><link>https://spapas.github.io/</link><description>Various programming stuff</description><lastBuildDate>Thu, 31 Mar 2016 19:20:00 +0300</lastBuildDate><item><title>Configuring Spring Boot</title><link>https://spapas.github.io/2016/03/31/spring-boot-settings/</link><description>&lt;p class="first last"&gt;Configuring your Spring Boot applications using application properties, profiles, locan  settings and command line arguments and deploying them using&amp;nbsp;init.d!&lt;/p&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Serafeim Papastefanos</dc:creator><pubDate>Thu, 31 Mar 2016 19:20:00 +0300</pubDate><guid isPermaLink="false">tag:spapas.github.io,2016-03-31:/2016/03/31/spring-boot-settings/</guid><category>spring</category><category>spring</category><category>spring-boot</category><category>java</category><category>ldap</category><category>profiles</category><category>settings</category><category>properties</category><category>yaml</category><category>configuration</category><category>deploy</category><category>init.d</category></item><item><title>Using custom authorities with spring-security LDAP authentication</title><link>https://spapas.github.io/2013/10/14/spring-ldap-custom-authorities/</link><description>&lt;p class="first last"&gt;Configuring spring-security for logging in through &lt;span class="caps"&gt;LDAP&lt;/span&gt; but retrieving the user&amp;#8217;s authorities from a custom (non-ldap)&amp;nbsp;source.&lt;/p&gt;
</description><dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">Serafeim Papastefanos</dc:creator><pubDate>Mon, 14 Oct 2013 08:55:00 +0300</pubDate><guid isPermaLink="false">tag:spapas.github.io,2013-10-14:/2013/10/14/spring-ldap-custom-authorities/</guid><category>spring</category><category>spring</category><category>spring-security</category><category>java</category><category>ldap</category><category>authentication</category></item></channel></rss>